body {
  background-color: #f9f9fc;
  color: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Kanit", sans-serif;
}

.container {
  width: 550px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 15px;
  padding: 50px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
}

h1 {
  text-align: center;
  margin-bottom: 30px;
  font-weight: 600;
}

.top-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  margin-bottom: 15px;
}

.search {
  flex: 1;
  position: relative;
  right: 20px;
}

.search input {
  width: 100%;
  padding: 10px 35px 10px 10px;
  border: 1px solid #6c63ff;
  border-radius: 6px;
  color: #6c63ff;
}

.search input::placeholder {
  color: #c3c1e5;
}

.lupa {
  position: absolute;
  left: 440px;
  top: 9px;
  width: 18px;
}

.ALL {
  background-color: #7b61ff;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 10px 20px;
  cursor: pointer;
  position: relative;
  left: 40px;
}

.luna {
  background-color: #7b61ff;
  border: none;
  border-radius: 6px;
  width: 37px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  left: 40px;
}

.luna img {
  width: 18px;
}

.tasks {
  margin-top: 20px;
}

.marker {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #c3c1e5;
  padding: 10px 0;
}

.marker input[type="checkbox"] {
  width: 18px;
  height: 18px;
  accent-color: #6c63ff;
}

.marker label {
  flex: 1;
  margin-left: 8px;
  font-weight: 500;
}

.done {
  color: #b3b3b3;
}
.modal h2 {
  text-align: center;
  font-weight: 600;
  align-items: flex-start;
  position: relative;
  bottom: 80px;
}
.add {
  display: block;
  width: 45px;
  height: 45px;
  background-color: #7b61ff;
  color: white;
  border: none;
  border-radius: 50%;
  font-size: 28px;
  line-height: 1;
  position: absolute;
  bottom: 60px;
  right: 50%;
  position: relative;
  top: 30px;
  transform: translateX(800px);
  cursor: pointer;
}
.block {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
  align-items: center;
  justify-content: center;
}
.modal {
  background-color: #fff;
  border-radius: 12px;
  padding: 100px;
  width: 320px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.01);
  text-align: center;
}
.modal input {
  width: 130%;
  padding: 10px;
  border: 1.5px solid #7c6ef8;
  border-radius: 6px;
  outline: none;
  font-size: 0.95rem;
  margin-bottom: 5px;
  position: relative;
  bottom: 70px;
  position: relative;
  right: 60px;
}
.buttons button {
  display: flex;
  justify-content: space-between;
  flex: 1;
  padding: 10px 10px;
  border-radius: 6px;
  font-weight: 600;
  font-size: 20px;
  cursor: pointer;
  border: 1.5px solid #7c6ef8;
}
.cancel {
  background: #fff;
  color: #7c6ef8;
  margin-right: 10px;
  top: 120px;
  position: relative;
  right: 80px;
}
.cancel:hover {
  background-color: #f2f0ff;
}
.apply {
  background: #7c6ef8;
  color: #fff;
  position: relative;
  top: 80px;
  position: relative;
  left: 315px;
}
.apply:hover {
  background: #6659d5;
  text-align: center;
}
